@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}
body{
    background-color: #f9f9f9 !important;
}
a{
    text-decoration: none !important;
}

.address{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #D7A100;
}
.tel{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #D7A100;
}

/* Navbar Styles */
.logout-button{
    background: #FCBE04;
    border-radius: 5px;
    width: 150px;
    border: none;
    text-align: center;
    padding: 7px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: min(max(24px, 4vw), 30px);
    color: #FFFFFF;
}
.navbar-links{
    display: flex;
}
.navbar{
    padding-left: 80px;
    padding-right: 80px;
    background-color: #ffffff;
    margin: auto;
}
.profile-pic{
    margin: 2px;
}
.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

.nav-pills .nav-link.active{
    background: #FCBE04;
}
.nav-pills .nav-link{
    border-radius: 100px;
}
#subnav-link{
    width: 150px;
}
.nav-link{
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
}
.nav-pills .nav-link{
    background: #ffffff;
    color: #FCBE04;
    margin-right: 20px;
}
#subnav{
    margin-top: 50px;
    margin-bottom: 34px;
}

.odd-head{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #3A3535;
}
.odd-img{
    width: 100%;
}
.odd-title{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    max-width: 167px;
    margin-bottom: 8px;
}
.odd-card{
    background: #FFFFFF;
    border-radius: 10px;
    width: 100%;
}
.txt-box-1{
    padding: 20px;
}
.pay{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1ED600;
}
.odd-sub{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #3A3535;
    margin-bottom: 16px;
}
.odd-butt{
    display: flex;
}
.request{
    width: 100px;
    padding: 5px;
    background: #FCBE04;
    text-align: center;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FFFFFF;
}
.in-pro{
    width: 100px;
    padding: 5px;
    background: rgba(252, 190, 4, 0.1);
    margin-left: auto;
    display: block;
    text-align: center;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #FCBE04;
}
.subsub-nav{
    margin-bottom: 26px;
}
#top{
    margin-top: 40px;
}
.delivered{
    width: 100px;
    padding: 5px;
    background: rgba(0, 235, 38, 0.2);
    margin-left: auto;
    display: block;
    text-align: center;
    border-radius: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #1ED600;
}
.odd{
    margin-bottom: 80px;
}

.odd button {
    outline: none;
    border: solid;
    border-color: #f2f2f2;
}

.odd button:focus {
    outline: none;
}

