@media (min-width: 768px) and (max-width: 1024px) {
.navbar{
    padding-left: 0;
    padding-right: 0;
}
.dash-con{
    padding: 15px 15px;
}
.dash-img{
    width: 40px;
}
.dash-head{
    line-height: 20px;
}
.dash-sub{
    font-size: 14px;
    font-weight: 600;
    line-height: 10px;
}
.note-title{
    margin-left: 35px;
}
.odd-butt{
    display: block;
}
.in-pro{
    margin-top: 10px;
    margin-left: 0;
}
}

@media (min-width: 501px) and (max-width: 767px) {
    .navbar{
        padding-left: 0;
        padding-right: 0;
    }
    .container{
        padding-left: 15px;
        padding-right: 15px;
    }
    #subnav-link{
        margin-top: 20px;
    }
    .dash-con{
        margin-bottom: 20px;
    }
    .food-card{
        margin-bottom: 20px;
    }
    .odd-card{
        margin-bottom: 20px;
    }
    .logout-button{
        width: 100px;
    }
    .navbar-brand > img{
        width: 60px;
    }
}

@media (min-width: 200px) and (max-width: 500px) {
.navbar{
    padding-left: 0;
    padding-right: 0;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
}
#subnav-link{
    margin-top: 20px;
}
.dash-con{
    margin-bottom: 20px;
}
.food-card{
    margin-bottom: 20px;
}
.odd-card{
    margin-bottom: 20px;
}
.logout-button{
    width: 100px;
}
.navbar-brand > img{
    width: 60px;
}
    
}